$background: #fff;
$text-color: #000;
$text-hover: rgb(250, 202, 71);

.app {
  $background: #000;
  $text-color: #fff;
}

@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}
